<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Property List.plist David Created by David on 2018/10/25. Copyright (c) 2018年 MOON All rights reserved. -->
<plist version="1.0">
   <dict>
      <key>items</key>
      <array>
         <dict>
            <key>assets</key>
            <array>
               <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/astrocorp-tomlin/ocm_apk_1/master/gtigaming.ipa</string>
               </dict>
               <dict>
                  <key>kind</key>
                  <string>full-size-image</string>
                  <key>needs-shine</key>
                  <true />
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/astrocorp-tomlin/ocm_apk_1/master/gtigaming_icon.png</string>
               </dict>
               <dict>
                  <key>kind</key>
                  <string>display-image</string>
                  <key>needs-shine</key>
                  <true />
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/astrocorp-tomlin/ocm_apk_1/master/gtigaming_logo.png</string>
               </dict>
            </array>
            <key>metadata</key>
            <dict>
               <key>bundle-identifier</key>
               <string>com.gtigaming.gtiDemo</string>
               <key>bundle-version</key>
               <string>1.0.0</string>
               <key>kind</key>
               <string>software</string>
               <key>诚信第一品牌！</key>
               <string>ocmDemo</string>
               <key>title</key>
               <string>Gtigaming 示範站</string>
            </dict>
         </dict>
      </array>
   </dict>
</plist>